{% extends  'layout.twig' %}

{% block content %}

    <style type="text/css">
        .w-30 {
            width: 30%;
        }

        .w-20 {
            width: 20%;
        }

        .w-50 {
            width: 50%;
        }
    </style>

    <div class="b-context">
        <h1>Контакты</h1>

        <br/>

        <dl class="b-pole_form">
            <dt class="w-30">
                <label class="n-label">Email</label>
            </dt>
            <dd class="w-20">
                <a>mobitva.atombot@gmail.com</a>
            </dd>
            <dd class="w-50">
                Для связи с администрацией сайта
            </dd>
        </dl>
        <dl class="b-pole_form">
            <dt class="w-30">
                <label class="n-label">Телефон</label>
            </dt>
            <dd class="w-20">
                <a>+7 (983) 329-42-76</a>
            </dd>
            <dd class="w-50">
                Роман. Администратор
            </dd>
        </dl>
        <dl class="b-pole_form">
            <dt class="w-30">
                <label class="n-label">Профиль во Вконтакте</label>
            </dt>
            <dd class="w-20">
                <a href="http://vk.com/idbeholdl">http://vk.com/idbeholdl</a>
            </dd>
            <dd class="w-50">
                Разработчик бота для мобитвы
            </dd>
        </dl>
        <dl class="b-pole_form">
            <dt class="w-30">
                <label class="n-label">Сообщество во Вконтакте</label>
            </dt>
            <dd class="w-20">
                <a href="http://vk.com/mobitva_bot">http://vk.com/mobitva_bot</a>
            </dd>
            <dd class="w-50">
                Оставить отзыв, задать вопрос, сообщить о найденной неисправности вы можете в данном сообществе,
                оставив сообщение в соответствующем обсуждении, либо обратившись к администратору/модераторам сообщества.
            </dd>
        </dl>

        <br/>
        <br/>
        <br/>

        <p style="text-align: center">
            Внимание! Администрация сайта <a href="/">mobitva.atom-bot.ru</a> не имеет никакого отношения к администрации онлайн игры mobitva!<br/>
            Знайте, что Администрация ни при каких обстоятельсвах не будет просить вас передать данные от игровых аккаунтов онлайн игр,<br />
            а также от личного кабинета на данном сайте.
            <br /><br />
            Будьте бдительны при общении с участниками сообщества <a href="http://vk.com/mobitva_bot">http://vk.com/mobitva_bot</a>
            <br />
            Список модераторов и администраторов сообщества указан в контактах данного сообщества.
            <br /><br />
            Остерегайтесь мошенников, которые могут предлагать вам купить/продать игровых персонажей от имени администрации.<br />
            Администрация Сайта не занимается покупкой/продажей игровых персонажей
        </p>

    </div>
{% endblock %}