{% extends  'layout.twig' %}

{% block content %}
    <div class="b-context">
        <h1>Лицензионное соглашение</h1>
        <span style="font-size: 10px;">ПОСЛЕДНЕЕ ОБНОВЛЕНИЕ: 14 МАРТА 2016</span>

        <p></p>
        <p>
            <b>
                Перед установкой (запуском) данного программного обеспечения внимательно прочтите настоящее лицензионное соглашение с конечным пользователем.

                Данное программное обеспечение не продается, а передается в пользование по лицензии.
                Устанавливая, копируя или иным способом используя бота, вы подтверждаете свое согласие соблюдать условия данного лицензионного соглашения с
                конечным пользователем. Если вы не согласны с условиями данного согллаения, вы не имеете права устанавливать или использовать бота.
            </b>

        <p>
            Программный продукт <b>mobitvaAtomBot</b>, а также любые другие файлы, полученные вами с использованием данного програмного обеспечения, для исправлений,
            обновлений или какой-либо другой модификации данной программы, как и все материалы и электронная документация, любые копии данной программы,
            являются объектом интеллектуальной собственности Администрации сайта mobitva.atom-bot.ru/
        </p>

        <p>
            Все случаи использования бота попадают под действие данного лицензионного соглашения. Вы можете начать использование Бота только после регистрации
            на сайте mobitva.atom-bot.ru<br/>
            Бот распространяется исключительно для пользования полномочными конечными пользователями в соответствии с условиями настоящего
            Лицензионного соглашения. Любые формы использования, воспроизведения, модификации или распространения Бота, которые прямо не разрешены условиями
            Лицензионного соглашения, запрещены в явном виде.
        </p>

        <p>
            1. Предоставление ограниченной пользовательской лицензии.
            В случае вашего согласия и при условии постоянного соблюдения вами Лицензионного соглашения Администрация сайта mobitva.atom-bot.ru настоящим предоставляет,
            а вы принимаете ограниченную, отзывную, не подлежащую передаче другим лицам, неисключительную лицензию

            (а) на установку Бота на одном или более компьютерах, находящихся в вашей полноправной собственности;
            (b) на пользование Ботом посредством Лицензии на право использования исключительно в некоммерческих развлекательных целях,
            которое регулируется условиями, определенными ниже в Разделе 2<br/>
        </p>

        <p>

            2. Дополнительные ограничения лицензии. В отношении лицензии, предоставленной вам в соответствии с Разделом 1, действуют ограничения,
            предусмотренные Разделами 1 и 2 настоящего Соглашения (совместно именуемые «Ограничения Лицензии»).
            Любое использование Бота в нарушение Ограничений Лицензии будет рассматриваться как нарушение авторских администрации сайта mobitva.atom-bot.ru<br/>
            Вы обязуетесь ни при каких обстоятельствах:
            <br/>
            A. полностью или частично не копировать и не воспроизводить (за исключением случаев, определенных в настоящем Соглашении), не переводить
            на другой язык, не перепроектировать, не извлекать исходный код, не изменять, не демонтировать, не декомпилировать и не создавать
            любые производные продукты, основанные на Бота, не удалять указания на авторскую принадлежность или фирменные знаки из Бота,
            если это прямо не разрешено положениями
            ст. 6 Директивы Совета ЕС 91/250/EEC от 14 мая 1991 г. о правовой защите компьютерных программ.
            Несмотря на вышеизложенное вы имеете право сделать 1 (одну) резервную копию Программного обеспечения и Руководства пользователя;
            <br/>
            B. не создавать и не использовать программные средства обхода ограничений, другие средства автоматизации пользования игрой,
            компьютерного взлома или иное несанкционированное стороннее программное обеспечение, предназначенное для видоизменения процесса работы Бота,
            включая, без ограничений, программные средства модификации, которые нарушают условия настоящего Лицензионного соглашения или Условия пользования;
            <br/>
            C. не использовать Бота или его часть в коммерческих целях без официального разрешения Администрации сайта mobitva.atom-bot.ru;
            при этом вы обладаете правом пользоваться Ботом посредством Лицензии в публичных интернет-кафе или игровых компьютерных центрах;
            <br/>
            D. не использовать несанкционированное стороннее программное обеспечение, которое перехватывает, получает путем интеллектуального анализа
            данных или иным образом собирает информацию из Бота или через Бота, включая, без ограничений, любое программное обеспечение, считывающее
            участки оперативной памяти, используемые Бота или Лицензией для хранения информации;
            <br/>
            E. не изменять и не способствовать изменению файлов, входящих в состав Бота, каким-либо образом, кроме как согласно официальному
            Администрация сайта mobitva.atom-bot.ru;
            <br/>
            F. Ни коим образом и ни в каких целях не перехватывать, не эмулировать и не перенаправлять используемые Ботом протоколы связи, в том числе с
            целью несанкционированного использования Бота;
            <br/>
            G. не содействовать несанкционированному подключению, не устанавливать и не поддерживать несанкционированное подключение к Боту, включая,
            в частности, (a) любое подключение к несанкционированному серверу, который эмулирует или пытается эмулировать Лицензию; и
            (b) любое подключение с использованием сторонних программ или инструментов;
            <br/>
            H. не продавать, не выдавать лицензии или сублицензии, не предоставлять программное обеспечение в прокат, в аренду, не отдавать под залог или
            иным образом передавать любую копию Бота или вашу Лицензию третьему лицу или разрешать третьему лицу пользоваться Ботом и/или Лицензией;
            <br/>
            I. Администрация сайта mobitva.atom-bot.ru в праве отказать в предоставлении Лицензии любому лицу по собственному усмотрению и
            без объяснения причин.

        </p>

        <p>
            3. Права собственности. Все права на интеллектуальную собственность, связанные с Ботом и всеми его копиями (включая, без ограничений, любые названия,
            компьютерный код, темы, объекты, концепции, художественные работы, звуковые элементы, музыкальные композиции, аудиовизуальные эффекты,
            способы функционирования, моральные права и любую связанную с вышеперечисленным документацию), являются собственностью Администрации сайта mobitva.atom-bot.ru
            или передаются ей по лицензии третьими лицами. Бот защищен законодательством РФ об авторском праве, международными договорами, конвенциями и прочими законами.
            Бот может содержать материалы, лицензированные третьими лицами; таким образом, лицензиары данных материалов могут воспользоваться своими правами в
            случае нарушения условий настоящего Лицензионного соглашения. Вы не будете иметь финансовых или иных интересов в отношении функций Бота,
            его контента или связанных с Лицензией.
        </p>

        <p>
            4. Ограничения на передачу прав или сублицензирование.
            НАСТОЯЩЕЕ ПРОГРАММНОЕ ОБЕСПЕЧЕНИЕ НЕ ПРОДАЕТСЯ, А ПЕРЕДАЕТСЯ В ПОЛЬЗОВАНИЕ ПО ЛИЦЕНЗИИ. ЛИЦЕНЗИЯ, ПРЕДОСТАВЛЕННАЯ ВАМ НА ОСНОВАНИИ РАЗДЕЛА 1,
            НЕ МОЖЕТ БЫТЬ СУБЛИЦЕНЗИРОВАНА ИЛИ ПЕРЕДАНА ФИЗИЧЕСКОМУ ИЛИ ЮРИДИЧЕСКОМУ ЛИЦУ, А ЛЮБАЯ ПОПЫТКА ПРЕДПРИНЯТЬ ТАКИЕ ДЕЙСТВИЯ
            НЕ БУДЕТ ИМЕТЬ ЮРИДИЧЕСКОЙ СИЛЫ.

        </p>

        <p>
            5. Прекращение действия Соглашения.
            Если вы нарушите какие-либо условия настоящего Лицензионного соглашения, Администрации сайта mobitva.atom-bot.ru отправит вам предупреждение о несоблюдении
            правил. В случае серьезного нарушения настоящего Лицензионного соглашения, Администрации сайта mobitva.atom-bot.ru имеет право немедленно прекратить действие
            Лицензии без предварительного предупреждения. К серьезным нарушениям относятся нарушения важных положений, в том числе раздела 2
            настоящего Лицензионного соглашения, и неоднократные нарушения других положений настоящего Лицензионного соглашения, в том числе повторное
            нарушение после получения предупреждения.
        </p>

        <p>
            6. Экспортный контроль. Бота запрещено реэкспортировать, загружать или иным способом экспортировать в любую страну
            (или гражданам или резидентам страны), в отношении которой действует эмбарго на поставку товаров из РФ. Вы заверяете и гарантируете, что не
            находитесь ни на территории, ни под контролем этих стран, не являетесь их гражданином или резидентом.
        </p>

        <p>
            7. Исправления и обновления. Администрация сайта mobitva.atom-bot.ru может использовать или предоставлять программное обеспечение для исправлений, обновлений или
            модификаций Бота,
            которое вы должны установить для того, чтобы продолжать пользоваться Ботом. Администрация сайта mobitva.atom-bot.ru может обновлять Бота, включая, без ограничений, ее
            клиентскую часть,
            установленную на вашем компьютере, без вашего ведома. Настоящим вы предоставляете Администрации сайта mobitva.atom-bot.ru разрешение осуществлять или устанавливать
            такие исправления,
            обновления и модификации.
        </p>

        <p>
            8. Ограничения. Срок действия «интернет-компонента» Бота.
            Для запуска Бота пользователю необходимо иметь Интернет-соединение. Вся ответственность за обеспечение соединения с Интернетом и оплату данной услуги
            ложится на вас. Администрация сайта mobitva.atom-bot.ru будет прилагать все усилия к тому, чтобы Бот функционировал круглосуточно и ежедневно.
            При этом Администрация сайта mobitva.atom-bot.ru оставляет за собой право временно приостанавливать доступ к Лицензии для проведения
            технического обслуживания, тестирования, замены или починки связанного с Ботом телекоммуникационного оборудования, а также при необходимости временно прервать передачу
            данных или провести иные производственные работы. Администрация сайта mobitva.atom-bot.ru имеет право в любой момент прекратить
            работоспособность Бота любой версии, кроме последней.
        </p>

        <p>
            9. За исключением экстренных случаев, Администрация сайта mobitva.atom-bot.ru будет всегда предупреждать вас о любом временном приостановлении
            Бота за 24 часа путем отображения соответствующего предупреждения в сообществе бота http://vk.com/mobitva_bot.
            Администрация сайта mobitva.atom-bot.ru обязуется предоставлять необходимые для доступа к Лицензии сервера и программное обеспечение до
            момента «Прекращения выпуска» Бота. Таким моментом считается прекращение Администрации сайта mobitva.atom-bot.ru ее производства и/или дистрибуции.
            После этого Администрация сайта mobitva.atom-bot.ru может по своему исключительному и неограниченному усмотрению продолжать предоставление
            Лицензии или передать право на предоставление Лицензии третьей стороне. Тем не менее, данное Соглашение не накладывает
            на Администрацию сайта mobitva.atom-bot.ru обязательств продолжать предоставление Лицензии после Прекращения выпуска Бота.
            В случае если Администрация сайта mobitva.atom-bot.ru решит, что прекращение предоставления Лицензии или передача права на предоставление
            Лицензии третьей стороне отвечает её интересам, она обязуется уведомить вас об этом не менее чем за 1 (один) месяц до принятия подобного решения.
            Ни сама Лицензия, ни предоставление Администрации сайта mobitva.atom-bot.ru доступа к Лицензии не могут рассматриваться как сдача в прокат или
            в аренду серверов и иных технологий, которыми Администрация сайта mobitva.atom-bot.ru владеет либо использует по лицензиям от третьих лиц.
        </p>

        <p>
            10. Пользователь имеет право запросить возврат средств в случае Прекращения выпуска Бота, если
            у него остались лицензии, действие которых заканчивается после момента прекращения выпуска Бота.
        </p>

        <p>
            11. Отказ от ответственности. Администрация сайта mobitva.atom-bot.ru НЕ НЕСЕТ ОТВЕТСТВЕННОСТИ ПЕРЕД ПОЛЬЗОВАТЕЛЯМИ ЗА ВОЗМОЖНЫЙ УЩЕРБ,
            ПРИЧИНЕННЫЙ ПОЛЬЗОВАТЕЛЬСКОМУ(ИМ) АККАУНТАМ В ИГРЕ. ПРИНИМАЯ НАСТОЯЩЕЕ ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ С КОНЕЧНЫМ ПОЛЬЗОВАТЕЛЕМ ВЫ ПОДТВЕРЖДАЕТЕ,
            ЧТО ОЗНАКОМЛЕНЫ С ПРАВИЛАМИ ИГРЫ, ПОНИМАЕТЕ РИСК, СВЯЗАННЫЙ С ИСПОЛЬЗОВАНИЕМ БОТА СОГЛАСНО ПОЛЬЗОВАТЕЛЬСКОМУ СОГЛАШЕНИЮ ИГРЫ И НИ ПРИ
            КАКИХ ОБСТОЯТЕЛЬСТВАХ НЕ БУДЕТЕ ПРЕДЪЯВЛЯТЬ ПРЕТЕНЗИЙ АДМИНИСТРАЦИИ САЙТА mobitva.atom-bot.ru В СВЯЗИ С ОБСТОЯТЕЛЬСТВАМИ, УКАЗАННЫМИ В
            ДАННОМ ПУНКТЕ.
        </p>

        <div class="b-img_content">

        </div>

    </div>

{% endblock %}