{% extends  'layout.twig' %}

{% block content %}
    <!--.b-context
                .b-timer
                 script(type="text/javascript", src="http://timegenerator.ru/s/cb3ef46bb2231402376993608a2f6807.js")
                -->
    <div class="b-context">
        <div id="owl-homepage" class="owl-carousel">
            <div class="bw-bimg"><img src="/styles/images/screen/mobitva_logo_big.jpg" alt=""></div>
            <div class="bw-bimg"><a href="https://www.youtube.com/watch?v=QAy4IBR0Ufw" class="owl-video"></a>
            </div>
            {#<div class="bw-bimg"><img src="/styles/images/screen/mobitva_logo_big.jpg" alt=""></div>#}
            {#<div class="bw-bimg"><img src="/styles/images/screen/mobitva_logo_big.jpg" alt=""></div>#}
            {#<div class="bw-bimg"><img src="/styles/images/screen/mobitva_logo_big.jpg" alt=""></div>#}
            {#<div class="bw-bimg"><img src="/styles/images/screen/mobitva_logo_big.jpg" alt=""></div>#}
        </div>
    </div>
    <div class="b-context">
        <h1>Бот для онлайн игры <b>mobitva</b></h1>

        {#<h2>MobitvaBot</h2>#}

        <div class="b-img_content">
            <div class="b-img left"><a href="/styles/images/screen/create_settings_screen.png" class="l-show_image"><img
                            src="/styles/images/screen/create_settings_screen_preview.png" alt=""></a>

                <div class="b-title">Интерфейс создания настроек бота</div>
            </div>
            <p>
                Если вы попали на эту страницу, то скорее всего вас интересует бот для мобильной игры <b>mobitva</b>.
                Бот поможет Вам автоматизировать прокачку персонажа, выполняя за Вас рутинные действия.</p>

            <p>
                Для настройки поведения бота имеется удобный web-интерфейс, позволяющий создавать списки задач, которые бот
                будет выполнять.
                {#Этими алгоритмами можно делиться с другими пользователями, а также добавлять в избранное понравившиеся.#}
            </p>

            <p>
                Использование бота поможет существенно сэкономить ваше личное время.
            </p>
        </div>
        <h3>Описание принципов работы и функционал</h3>

        <div class="b-img_content">
            <div class="b-img right w-40"><a href="styles/images/screen/create_config_screen.png" class="l-show_image"><img
                            src="styles/images/screen/create_config_screen_preview.png" alt=""></a>

                <div class="b-title">Интерфейс составления списка задач</div>
            </div>
            <p>Бот работает на компьютере пользователя (через эмулятор). </p>


            <style type="text/css">
                ul {
                    margin-left: 20px;
                }
            </style>

            <p></p>

            <ul type="disc">
                <li><b> - Бот может работать в неактивном окне</b></li>
                <li><b> - Умеет автоматически проводить большинство видов боев : </b>
                    <ul type="disc">
                        <li> - Охота</li>
                        <li> - Дуэли</li>
                        <li> - Стенка на стенку</li>
                        <li> - Выживание</li>
                        <li> - Грабежи:
                            <ul type="disc">
                                <li> - Нападения</li>
                                <li> - Вмешаетльство за сокланов</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><b> - Умеет перемещаться по локациям </b>
                    {#<ul type="disc">#}
                        {#<li> - Автоматически, если этого требует поставленная задача (например в охоте)</li>#}
                        {#<li> - По команде в алгоритме</li>#}
                    {#</ul>#}
                </li>
                <li><b> - Автоматически выполняет квесты на восстановление выносливости</b></li>
                <li><b> - Умеет обрабатывать разрыв соединения с сервером и подвисание клиента.</b></li>
                {#<li>Умеет проходить некоторые квесты (список постепенно расширяется)</li>#}
            </ul>

            <br/><br/>

            <p>
                В интерфейсе составления задач для бота предусмотрен автокомплит для названий локаций и мобов,
                что делает настройку бота делом пяти минут.
                Все настройки и алгоритмы хранятся на сервере бота. <br/>

                Редактировать и создавать новые алгоримты и настройки можно на этом сайте в <b>личном кабинете</b><br/>
                Пользоваться созданными настройками и алгоритмами можно только при наличии хотя бы 1 активной лицензии бота.
            </p>
        </div>


        <h4>Купить бота</h4>

        <p>
            На данный момент стоимость лицензии на <b>1 мес</b> составляет <b>50р</b> (действует гибкая система скидок)<br/>
            Перед покупкой бота пройдите процедуру регистрации.<br/>
            После оплаты в личном кабинете вам будет доступен лицензионный ключ, который нужно будет скопировать в папку с ботом<br/>
        </p>

        {#<h4>Скачать бота / демо-режим</h4>#}

        {#<p>#}
        {#На данный момент пользоваться ботом можно не имея активной лицензии. При этом большая часть функционала будет недоступна.<br/>#}
        {#В демо режиме бот может только <b>доиграть уже начатый бой.</b><br/>#}
        {#Чтобы бот работал в демо режиме нужно просто не вводить лицензионный ключ при запуске<br/ >#}
        {#Скачать бота по этой ссылке<br/>#}
        {#</p>#}

        <h4>Группа вконтакте</h4>

        <p>
            У бота есть группа во вконтакте <a target="_blank" href="http://vk.com/mobitva_bot">http://vk.com/mobitva_bot</a><br >
            Там вы сможете своевременно узнавать об обновлениях, задать интересующзий вас вопрос, а также принять участие в развиии проекта,<br/>
            сообщая о найденных недоработках и оставляя пожелания, относительно функционала в последующих обновлениях.<br/>
            Также в группе время от времени будут проводиться различные <b>акции</b>, участвуя в которых можно будет получить лицензию бота <b>бесплатно</b>.
        </p>
    </div>

{% endblock %}