{% extends  'layout.twig' %}

{% block content %}


    <div class="b-context">
        <h1>Возврат денежных средств</h1>

        <p>
            Если вы по какой-то причине решили прекратить использование бота, вы можете запросить возврат средств за
            предоплаченный неиспользуемый период, приобретенных вами лицензий.
            <br />
            Для этого вам нужно в свободной форме написать заявку на возврат денежных средств и отправить ее на данный адрес электронной почты:<br />
            <a>mobitva.atombot@gmail.com</a>

            <br />
            <br />
            В заявке необходимо указать номера, приобретенных вами лицензий, по которым вы хотите оформить возврат. <br />
            А также предпочитаемый способ возврата средств.
            <br/>
        </p>
        <p>
            Средства могут быть возвращены:<br />
            - на электронные кошельки: Webmoney, Яндекс Деньги, Wallet One (Единый Кошелек)<br />
            - на банковскую карту Visa/MasterCard<br />
            <span style="font-size: 12px"><br />Сроки возврата денежных средств, указанными выше способами, составляют 3-10 календарных дней</span>
            <br/>
            <br/>
            В случае, если данные способы возврата средств вас не устраивают, выбор наиболее приемлимого для обоих сторон варианта будет осуществлен
            в ходе перерписки.
        </p>
    </div>

{% endblock %}