{% extends 'layout.twig' %}

{% block content %}


    <div class="b-context">
        <h1>Порядок оплаты товаров или услуг с помощью системы WebMoney Transfer</h1>

        <div class="b-img_content">


            <div class="b-img left">

                <a href="/styles/images/screen/webmoney/1.png" class="l-show_image">
                    <img src="/styles/images/screen/webmoney/1.png"/>
                </a>

                <div class="b-title">Авторизация</div>
            </div>

            <p>
                Покупателю или заказчику предлагается оплатить в <strong>WebMoney Transfer</strong> используя свой электронный кошелёк. Для начала нужно удостовериться, что
                <strong>товар</strong>
                или <strong>услуга</strong>, сумма, продавец и счёт соответствует вашему заказу. Ниже в окошке платежа указать свой <span
                        style="text-decoration: underline;">WMID</span> в строке <em>логин</em> и свой <span style="text-decoration: underline;">пароль</span> в строке
                <em>пароль</em>. Далее вписываем число с картинки, ставим галочку «<em> Я согласен……</em>» и нажимаем кнопку <span style="color: #ff00ff;">ДАЛЕЕ</span>. На
                скриншотах красным цветом выделено то, на что Вам надо обращать внимание.
            </p>

        </div>
        <div class="b-img_content">

            <div class="b-img left">
                <a href="/styles/images/screen/webmoney/2.png" class="l-show_image">
                    <img src="/styles/images/screen/webmoney/2.png" alt=""/>
                </a>

                <div class="b-title">Выбор кошелька и способа подтверждения платежа</div>
            </div>

            <p>
                В новом окне (<em>подтверждённом вашу авторизацию</em>), Вам нужно выбрать свой кошелёк <strong>WebMoney</strong>, и выбрать вариант&nbsp;подтверждения вашего
                платежа: через сотовый телефон при помощи СМС – <em>платно</em> или через E-Num – <em>бесплатно</em>. В первом варианте: вводим номер своего мобильного телефона и
                нажать <span style="color: #ff00ff;">ПОЛУЧИТЬ КОД</span>, во втором варианте вводим свой E-Num и нажимаем <span
                        style="color: #ff00ff;">ПОЛУЧИТЬ КОД БЕСПЛАТНО</span>.
            </p>

        </div>

        <div class="b-img_content">


            <div class="b-img left">
                <a href="/styles/images/screen/webmoney/3.png" class="l-show_image">
                    <img src="/styles/images/screen/webmoney/3.png" alt=""/>

                </a>

                <div class="b-title">Подтвержнение платежа</div>
            </div>

            <p>
                И в первом и во втором
                варианте подтверждения вводим полученный код в соответствующею строку выбранного нами варианта подтверждения платежа и нажимаем кнопку <span
                        style="color: #ff00ff;">ПЛАТЁЖ ПОДТВЕРЖДАЮ</span>.
            </p>

        </div>

        <div class="b-img_content">

            <div class="b-img left">
                <a href="/styles/images/screen/webmoney/4.png" class="l-show_image">
                    <img src="/styles/images/screen/webmoney/4.png" alt=""/>

                </a>

                <div class="b-title">Страница успешной оплаты</div>
            </div>


            <p>
                После этого производится оплата и перед вами открывается новая страница с описанием выполненной операции. <br/>Вы можете:
            <ul>
                <li> - распечатать квитанцию,</li>
                <li> - снять скриншот квитанции,</li>
                <li> - нажать кнопку <span style="color: #ff00ff;">ВЕРНУТЬСЯ К ПРОДАВЦУ</span>.
                    платёжный шлюз сразу же сообщит сайту о проведении вашего платежа и вы увидите, что ваш <strong>товар</strong> или <strong>услуга</strong> оплачены.
                </li>
            </ul>
            </p>

        </div>


    </div>

{% endblock %}