{% extends 'layout.twig' %}

{% block content %}

    <div class="b-context">
        <h1>Способы оплаты</h1>


        <div class="b-img_content">

            <div class="b-img left">
                <img src="/styles/images/screen/payment-logo/w1.png" alt=""/>
            </div>


            <p>
                <a href="https://www.walletone.com/ru/wallet/" target="_blank">
                    Единый кошелек
                </a>
                – это электронная платежная система, которая позволяет проводить финансовые операции между участниками этой системы в режиме реального времени.
                Электронная платежная система единый кошелек w1 довольно проста в использовании и позволяет производить операции со следующими валютами:<br/>

                <ul style="float: left;">
                    <li> - российский рубль;</li>
                    <li> - белорусский рубль;</li>
                    <li> - рэнд (южноафриканская валюта);</li>
                    <li> - украинские гривны;</li>
                    <li> - американский доллар;</li>
                    <li> - тенге;</li>
                    <li> - сомони (таджикская валюта);</li>
                    <li> - евро.</li>
                </ul>
            </p>


        </div>

        <div class="b-img_content">

            <div class="b-img left">
                <img src="/styles/images/screen/payment-logo/webmoney.png" alt=""/>
            </div>

            <p>
                Чтобы стать участником системы WebMoney Transfer, необходимо установить на своем персональном компьютере, КПК или мобильном телефоне
                <a href="http://www.webmoney.ru/rus/about/demo/index.shtml" target="_blank">клиентский интерфейс</a>,
                зарегистрироваться в системе и принять ее условия, получив при этом WM-идентификатор — Ваш уникальный номер.
                Процесс регистрации также предусматривает ввод персональных данных и подтверждение их достоверности через сервис WM-аттестации.
                Каждый пользователь имеет <a href="https://passport.webmoney.ru/asp/wmcertify.asp" target="_blank">WM-аттестат</a> — цифровое свидетельство,
                составленное на основании предоставленных им персональных данных.
                Если вы хотите оплачивать товары с помошью webmoney, ознакомьтесь с
                <a href="/payment-info/webmoney-transfer">
                    инструкцией по оплате с помошью WebMoney Transfer
                </a>

            </p>

        </div>
        <div class="b-img_content">

            <div class="b-img left">
                <img src="/styles/images/screen/payment-logo/yandex.png" alt=""/>
            </div>

            <p>
                Яндекс.Деньги — удобный и безопасный способ совершать покупки через интернет</br>

                Управлять своим счетом можно через
                <a href="https://sauth.yandex.ru/passport?mode=addsecurepass&amp;from=money&amp;retpath=https://money.yandex.ru/registration/success/">веб-интерфейс</a>
                или с помощью специальной программы «<a href="http://money.yandex.ru/wallet/">Интернет.Кошелек</a>».

                {#<a href="http://faq.d-v.ru/index.php?action=artikel&amp;cat=20&amp;id=162&amp;artlang=ru">Подробная инструкция</a>#}
            </p>

        </div>
        <div class="b-img_content">

            <div class="b-img left">
                <img src="/styles/images/screen/payment-logo/qiwi.png" alt=""/>
            </div>

            <p>
                С помощью <a href="https://w.qiwi.ru/" target="_blank">QIWI Wallet</a>
                Вы можете моментально и без комиссии оплатить тысячи товаров и услуг через web- и мобильный сайты, приложения для мобильных устройств,
                социальных сетей.<br/>
                QIWI Wallet легко пополнить без комиссии в QIWI Терминалах, салонах сотовой связи, супермаркетах, банкоматах, через интернет- или мобильный банк.<br>
                Если у Вас еще нет QIWI Wallet, Вы можете бесплатно зарегистрировать его на сайте или в любом из приложений за несколько минут.s
            </p>

        </div>

    </div>

{% endblock %}