{% extends  'layout.twig' %}

{% block content %}
    <div class="b-context">
        <h1>Пользовательское соглашение</h1>
        <span style="font-size: 10px;">ПОСЛЕДНЕЕ ОБНОВЛЕНИЕ: 21 МАРТА 2016</span>

        <p>
            Настоящие Условия пользовательского соглашения регулируют взаимоотношения между пользователями сайта mobitva.atom-bot.ru (в дальнейшем, Пользователь)
            и интернет-магазином mobitva.atom-bot.ru (в дальнейшем, Сайт). Регистрируясь на Сайте, Пользователь соглашается с
            настоящими "Условиями пользовательского соглашения" и акцептирует договор публичной оферты.
        </p>

        <p>
            Пользователь обязан полностью ознакомиться с настоящими Условиями пользовательского соглашения до момента регистрации на Сайте mobitva.atom-bot.ru
            Регистрация Пользователя на Сайте означает полное и безоговорочное принятие Пользователем настоящих условий пользовательского соглашения
            в соответствии со ст. 438 Гражданского кодекса Российской Федерации.
        </p>

        <p>
            Настоящие Условия пользовательского соглашения могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке
            без какого-либо специального уведомления. Настоящие Условия пользовательского соглашения являются открытым и общедоступным документом.
            Действующая редакция Условий пользовательского соглашения располагается в сети Интернет по адресу:
            http://mobitva.atom-bot.ru/terms
            <br/>
            Администрация Сайта рекомендует Пользоателям регулярно проверять условия настоящих Условий пользовательского соглашения на предмет
            их изменения и/или дополнения. Продолжение использования сайта mobitva.atom-bot.ru Пользователем после внесения
            изменений и/или дополнений в настоящие Условия пользовательского соглашения означает принятие и согласие Пользовател с такими изменениями
            и/или дополнениями.
        </p>


        <h2>1. Регистрация/Дисквалификация Пользователя/Удаление аккаунта</h2>

        1.1 Регистрация Пользователя на сайте mobitva.atom-bot.ru является бесплатной, добровольной и возможна с помощью заполнения
        электронной формы на сайте http://mobitva.atom-bot.ru/. Начиная процесс регистрации Пользователь подтверждает свою дееспособность и
        достижение им 18-летнего возраста.<br/>
        1.2 При регистрации на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию
        для формирования персональной страницы личного кабинета Пользователя, включая уникальные для каждого Пользователя логин и пароль доступа
        к сайту mobitva.atom-bot.ru.<br/>
        1.3 Каждый Пользователь может быть зарегистрирован в системе один раз. Использование одним Пользователем двух или более учетных записей недопустимо.
        В случае обнаружения фактов двойных регистраций Организатор оставляет за собой право блокировать все учетные записи данного Пользователя.<br/>
        1.3 В случае обнаружения нарушения данных условий использования, нарушения законодательства РФ,
        нарушения прав третьих лиц, а также других Пользователей Сайта mobitva.atom-bot.ru, администрация Сайта оставляет за собой право дисквалифицировать
        Пользователя на постоянной основе и закрыть доступ к его аккаунту.<br/>
        1.4 В случае необходимости удаления аккаунта (учетной записи) Пользователя, он может обратиться к администрации сайта mobitva.atom-bot.ru.
        Для удаления аккаунта (учетной записи) требуется идентификация Пользователя.<br/>
        1.5 Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации
        предоставленной при регистрации информации и ее чистоту от претензий третьих лиц.<br/>
        <br/><br/>

        <h2>2. Конфиденциальность</h2>

        2.1 Логин Пользователя и дата регистрации размещаются на личной странице Пользователя и не доступна для просмотра
        всем другим зарегистрированным Пользователям, кроме администрации сайта mobitva.atom-bot.ru
        Контактный e-mail может быть использован администрацией Сайта для связи с Пользователем или отправки сообщений
        информационного характера, в том числе реквизитов доступа к сайту.
        <br/><br/>

        <h2>3. Взаиморасчеты</h2>
        3.1 Все цены, приведенные на сайте mobitva.atom-bot.ru, указаны в рублях с учетом всех комиссий, за исключением отдельно
        оговоренных случаев о которых уведомлено в интерфейсе Сайта.
        <br/>
        3.2 Администрация сайта mobitva.atom-bot.ru гарантирует возврат средств за предоплаченный неиспользуемый период приобретенных
        лицензий программного обеспечения, распространяемого на Сайте, в случае если продолжительность такого периода не менее 1 календарного месяца.
        Средства вовзращаются за каждый полный календарный месяц, предоплаченного неиспользуемого периода.
        <br/>
        3.3 Администрация вправе отказать в возврате средств за предоплаченный неиспользуемый период приобретенной лицензии,
        в случае обнаружения нарушений условий Пользовательского Соглашения, либо Лицензионного Соглашения программного обеспечения,
        переданного в пользование по приобретенной лицензии.
        <br/>
        3.4 Порядок и сроки возврата денежных средств указаны на сайте mobitva.atom-bot.ru в разделе "Возврат денежных средств" и могут
        быть изменены без дополнительного уведомления пользователя
        <br/>
        <br/>
        <h2>4. Лимиты ответственности</h2>
        4.1 Пользователь несет ответственность за сохранность своих учетных данных (логина, пароля).
        Все действия, выполненные третьими лицами с применением учетных данных Пользователь, считаются выполненными Пользователем.
        <br/>
        4.2 Администрация Сайта не несет ответственности за работу сети Интернет,
        отдельных узлов сети, отдельных провайдеров, других пользователей Интернета в силу самого устройства глобальной сети.
        <br/>
        4.3 Администрация Сайта не несет ответственности за функционирование компьютера и программных продуктов Пользователя
        <br/>
        4.4 Стороны не несут ответственности за полное или частичное неисполнение своих обязательств в силу обстоятельств непреодолимой силы
        (пожары, стихийные бедствия, военные действия и т.д.)
        <br/>
        <br/>

        <h2>5. Прочие положения</h2>

        5.1 В случае возникновения споров стороны приложат все усилия для урегулирования отношений в досудебном порядке путем переговоров.
        <br/>
        5.2 В случае, если споры не будут разрешены путем переговоров, споры подлежат разрешению в порядке, установленном действующим
        законодательством Российской Федерации.
        <br/>
        5.3 Настоящие Условия пользовательского соглашения вступают в силу для Пользователя с момента его реистрации на сайте и действуют
        в течение неопределенного срока.
        <br/>
        5.4 Ни при каких обстоятельствах Администрация сайта mobitva.atom-bot.ru или её представители не несут ответственность перед
        Пользователем или перед любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные,
        вред чести, достоинству или деловой репутации, вызванный в связи с использованием сайта mobitva.atom-bot.ru, либо программного обеспечения,
        которое доступно на данном сайте

        <br/>
        Регистрируясь на Сайте, Пользователь дает свое согласие Администрации сайта mobitva.atom-bot.ru на обработку, в том числе автоматизированную,
        своих персональных данных в соответствии с Федеральным законом от 27.07.2008 № 152-Ф3 "О персональных данных".
        Указанные Пользователем персональные данные предоставляются в целях рассмотрения им обращений и исполнения договорных обязательств,
        а также информирования его и других Пользователей.

        <br/>
        Согласие с Условиями пользовательского соглашения действительно в течение пяти лет.
        По истечении указанного срока действие согласия считается продлённым на каждые следующие пять лет при отсутствии сведений о его отзыве.
        <br/>
        <br/>
        Принятием условий настоящего соглашения считается заполнение поля перед надписью «Я принимаю условия пользовательского соглашения.»
        на форме регистрации размещенной на Сайте

    </div>

{% endblock %}